
body {
    background-image: url("image/istockphoto-1037573870-170667a.jpg");
    background-position: left;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: azure;
    font-size: 25px;
    text-align: justify;
    align-items: center;
}



header
{
    color:white;
    margin-top: 30vh;
    margin-left: 20%;
    margin-bottom: 30vh;
    font-size: 3vw;
    font-weight: bold;
    line-height: 40px;

}
.cover{
    background: linear-gradient( 
        0deg
         , rgb(37 80 112) 0%, rgb(11 28 46) 70%);
}
article
{
    
    margin: auto;
    margin-top: 30px;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 25px;
    max-width: 850px;
    color: white;
    
}

footer{
    margin: auto;
    margin-left: 40%;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: 25px;
    max-width: 850px;
    position: relative;
    line-height: 20px;
    font-size: smaller;


}

topnav {
  overflow: hidden;
  background-color: #333;
  position:relative;
  
  
}

.topnav #myLinks {
  display: none;
  background-color:  #153653;
  
  /*opacity: 0.5;*/
  position: fixed;
  z-index: 10;

}

.topnav a {
  
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

.topnav a.icon {
  background: #153653;
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
}
.topnav a:hover {
  
  background-color: #ddd;
  color: black;
  opacity: 0.8;
}
.active {
  background-color: #153653;
  
  margin-left: 2rem;
  

 
}
#sort-btn{
  margin-left: 50%;
  background-color: #008cff;
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 160px;
    height: 60px;
    border-radius: 35px;
    font-size: 25px;
}